



/* Big tablet to 1200px: 1024px to 1220px */
@media only screen and (max-width: 1220px) {

    .main-grid-container {
    grid-template-columns: 40em auto;
        padding: 0 2%;
}

    .pop-comm ul li a {
        font-size: .8em;
}

    .row {
        padding: 0 1%;
    }


h2 {
    font-size: 1em;
}



/* Small tablet to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

    html {
        font-size: 85%;
    }

    .block-search {
    margin-bottom: 1em;
}

.pop-comm ul li a {
    margin-left: .8em;
    color: var(--sml-col);
    padding: .8em 0;
}


    h2 {
    font-size: 1em;
    text-align: center;
}

}




/* Small phones to small tablets: 481px to 767px */
@media only screen and (max-width: 767px) {




/* Small phones: from 0 to 480px */
@media only screen and (max-width: 400px) {

}
