/*-----FONTS----*/

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/*----ROOTS----*/

:root {
    --main-col: #FAB201;
    --sec-col: #403254;
    --def-col: #fff;
    --btn-hov: #e5ad01;
    --sml-col: #555;
    --top-brd-col: #c1c0c0;
    --shd-col: #acacac;
    --pd-sz: .125em;
    --upt-col: #b41313;
    --head-chl: #636ef2;
}

/*-----REUSE ITEM----*/

.row {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: rgba(206, 206, 206, 0.27);
}

.box {
    margin: .5em 0 1.5em 0;
}

.ban-box {
    background-color: var(--sec-col);
}

/*-----HEADINGS-----*/

h1 {
    position: absolute;
    content: "";
    top: 1%;
    left: 15%;
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #bc1717;
    text-transform: uppercase;
    word-spacing: .125em;
    letter-spacing: .01em;


}

h2 {
    color: var(--def-col);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    background-image: url(img/community-background.jpg);
    height: 13vh;
    background-position: center;
    background-size: cover;
    padding: 1.8em;
    margin-top: .4em;
    border-radius: .5em .5em 0 0;
}

h3 {
    font-size: .8em;
    margin: .3em 0;
}

h4 {
    display: inline;
    font-size: .7em
}

h5 {
    font-size: 1.2em
}

h6 {
    margin: 1em 1em;
    color: var(--shd-col);
}


/*----------------------------------------*/
/*-----BUTTONS-----*/
/*----------------------------------------*/

.btn {
    border: .1em solid var(--main-col);
    border-radius: 10em;
    text-decoration: none;
    padding: .2em 1.1em;
    text-transform: uppercase;
}


.btn:hover {
    background-color: var(--btn-hov);
    border-color: var(--btn-hov);
    transition: background-color .2s, color .2s;
}

.btn-log {
    margin-right: .8em;
    color: var(--main-col);
    background-color: var(--def-col);
}

.btn-log:hover {
    color: var(--sec-col);
    transition: background-color .2s, color .2s;
}

.btn-sign {
    background-color: var(--main-col);
    color: var(--def-col);
}

.btn-sign:hover {
    color: var(--sec-col);
    transition: background-color .2s, color .2s;
}

/*-----------SOLID BIG BUTTONS----------*/

.btn-bod {
    text-decoration: none;
}

.btn-bod {
    display: block;
    background-color: var(--main-col);
    border: .125em solid var(--main-col);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: .25em;
    border-radius: .5em;
    color: var(--sec-col);
    width: 9em;
    letter-spacing: .06em;
}

.btn-bod:hover {
    opacity: .7;
    transition: opacity .2s;
}

.ld-btn {
    margin: 2em auto;
    box-shadow: .125em .125em .313em var(--shd-col);
}

.view-btn {
    margin: 1em auto;
}

/*------SEARCH BAR------*/

.block-search {
    display: flex;
    margin-right: 2em;
}

.bar-search {
    border: .08em solid var(--main-col);
    border-right: none;
    padding: .1em 0 .1em .8em;
    border-radius: 10em 0  0 10em;
}

.btn-search {
    width: 1.8em;
    height: 1.8em;
    border: .08em solid var(--main-col);
    border-radius: 0 10em 10em 0;
    font-size: 1em;
    padding-bottom: .3em;
    background: var(--main-col);
    cursor: pointer;
}

.push-add {
    height: 1.2em;
    margin-right: .3em;
    vertical-align:middle;
    padding-bottom: .1em;
}


/*------ENTER SUBREDDIT------*/

.bar-post {
    border: .08em solid var(--main-col);
    border-right: none;
    padding: .7em;
    border-radius: .5em 0  0 .5em;
    width: 32em;
}

.btn-sub {
    width: 5.8em;
    border: .08em solid var(--main-col);
    border-radius: 0 .5em .5em 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--def-col);
    background: var(--main-col);
    cursor: pointer;
}

.btn-sub:hover {
    opacity: .7;
    transition: opacity .2s;
}

/*--------------------------------------------------------------------*/
/*-----HEADER----*/
/*--------------------------------------------------------------------*/

.main-banner-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-col);
}

.main-banner-top ul {
    display: flex;
    margin-right: .125em;
}

.main-logo {
    height: 2.5em;
    margin-top: .5em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION TREND----*/
/*--------------------------------------------------------------------*/


.btn-arr-solid {
    height: 30px;
    margin: 0 1em;
    vertical-align: middle;
}

.section-trend {
    position: relative;
}

/*-----LOWER BANNER------*/

.nav-low {
    background-color: var(--main-col);
    border-radius: 0 0 .5em .5em;
}

.nav-low ul {
    display: flex;
    padding: 1em 12em;
    margin: 0 !important;
    justify-content: space-around;
}

.nav-low ul li a {
    text-decoration: none;
    color: var(--sec-col);
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: .2em;
    border-bottom: .1em solid transparent;
}

.nav-low ul li a:hover {
    color: var(--def-col);
    border-bottom: .1em solid var(--def-col);
    transition: border-bottom .2s, color .2s;
}

/*-----TREND BANNER------*/

.ban-trend {
    display: flex;
    justify-content: space-between;
    max-width: 39em;
    margin:2.5em 0 .5em 0;
}

.ban-trend a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.trend-btn {
    color: var(--def-col);
    background-color: var(--sec-col);
    border: .125em solid var(--sec-col);
    border-radius: .5em;
    margin: 1em 0;
}

.ban-trend a:last-child {
    margin:auto 0;
    color: var(--sec-col);
}

.btn-arr-dwn {
    height: 1.3em;
    margin-left: 1em;
    background-color: var(--main-col);
    padding: .2em .4em;
    border-radius: .5em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION MAIN POST----*/
/*--------------------------------------------------------------------*/

.main-grid-container {
    display: grid;
    grid-template-columns: 40em 21em;
    grid-template-rows: 60em auto;
}

.main-grid-container a {
    text-decoration: none;
}

/*------FIRST POST-----*/


.post-subred-1 {
    display: grid;
    grid-template-columns: 3.125em auto;
    grid-template-rows: 2em 3.5em auto 2.5em;
}

/*---------------UPVOTE SECTION-----------------*/

.post-upvt {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: .5em;
    background-color: var(--def-col);
    border-radius: .5em 0 0 .5em;
}

.post-upvt img {
    height: 1.5em;
}

/*---------------UPVOTE SECTION-----------------*/

.box-chanl {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    border-top-right-radius: .5em;
    padding: var(--pd-sz) .5em;
}

.box-chanl a:first-child {
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
    color: var(--head-chl);
}

.box-chanl a:first-child:hover {
    color: var(--main-col);
    transition: color .2s;
}

.box-chanl a:last-child {
    display: flex;
    padding: var(--pd-sz);
    text-decoration: none;
    color: var(--sec-col);
    font-weight: bold;
    font-size: .7em;
}

.box-chanl a:last-child:hover {
    color: var(--upt-col);
    transition: color .2s;
}

.past-time {
    font-size: .9em;
    font-weight: bold;
    color: var(--sml-col);
    margin-left: .6em;
    padding: var(--pd-sz);

}

.past-time:hover {
    color: var(--upt-col);
    transition: color .2s;
}

/*---------------------------------------*/

.cont-box {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: var(--def-col);
    padding: 0 .5em;
    border: .01em solid transparent;
}

.cont-box a {
    text-decoration: none;
    color: var(--sml-col);
}

.cont-box:hover {
    border: .01em solid var(--main-col);
    transition: border .2s;
}

.cont-box p {
    margin: 0;
}

/*---------------------------------------*/

.comt-box {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    border-top: .03em solid var(--top-brd-col);
    border-radius: 0 0 .5em .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.comt-box ul {
    display:flex;
    margin: .5em 0;
}

.comt-box ul a {
    text-decoration: none;
    margin-right: .8em;
    font-size: 1em;
    color: var(--sml-col);
}

.comt-box a img {
    height: 1.2em;
    margin-right: .5em;
    vertical-align: middle;
}

.comt-box ul a:hover {
    opacity: .7;
    transition: opacity .2s;
}

.comt-box a {
    font-size: .9em;
    margin: .4em 1em .4em 0;
    padding: .2em .5em;
}

/*--------------------------------------------------------------------*/
/*-----CONTAINER GRID----*/
/*--------------------------------------------------------------------*/

.section-main-post {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 1em;
}

.section-main-comm {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 1em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION COMMUNITY----*/
/*--------------------------------------------------------------------*/

.pop-comm {
    background-color: var(--def-col);
    padding-bottom: .1em;
    border-radius: .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.pop-comm img {
    height: 1.9em;
}


.pop-comm ul li {
    display: flex;
    justify-content:flex-start;
    padding: 0 2em;
    border-bottom: .03em solid var(--shd-col);
}

.pop-comm a {
    text-decoration: none;
}

.pop-comm ul li a {
    margin-left: 3em;
    color: var(--sml-col);
    padding: .8em 0;
}



.pop-comm ul li a:hover {
    color: var(--main-col);
    transition: color .2s;
}

.pop-comm ul li a img {
    margin-right: 1em;
}



/*---------------SECTION COMMUNITY---------------*/

.adv-box {
    background-color: var(--def-col);
    border-radius: .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.adv-box img {
    padding: 0 .5em .5em .5em;

}

/*--------------------------------------------------------------------*/
/*-----FOOTER----*/
/*--------------------------------------------------------------------*/

footer {
    background-color: #4b4b4b;
}

footer nav {
    display: flex;
    justify-content: space-between;
}
