/*-----FONTS----*/

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/*-----HEADINGS-----*/

h1 {
    position: absolute;
    content: "";
    top: 1%;
    left: 15%;
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #bc1717;
    text-transform: uppercase;
    word-spacing: .125em;
    letter-spacing: .01em;
}

/*----------------------------------------*/
/*-----BUTTONS-----*/
/*----------------------------------------*/

/*------ENTER SUBREDDIT------*/

.bar-post {
    border-radius: .5em 0  0 .5em;
    width: 32em;
}

.btn-sub {
    width: 5.8em;
    border-radius: 0 .5em .5em 0;
}

/*--------------------------------------------------------------------*/
/*-----SECTION TREND----*/
/*--------------------------------------------------------------------*/

.section-trend {
    position: relative;
}

/*-----LOWER BANNER------*/

.nav-low {
    background-color: var(--main-col);
    border-radius: 0 0 .5em .5em;
}

.nav-low ul {
    display: flex;
    padding: 1em 12em;
    margin: 0 !important;
    justify-content: space-around;
}

.nav-low ul li a {
    text-decoration: none;
    color: var(--sec-col);
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: .2em;
    border-bottom: .1em solid transparent;
}

.nav-low ul li a:hover {
    color: var(--def-col);
    border-bottom: .1em solid var(--def-col);
    transition: border-bottom .2s, color .2s;
}

/*-----TREND BANNER------*/

.ban-trend {
    display: flex;
    justify-content: space-between;
    max-width: 39em;
    margin:2.5em 0 .5em 0;
}

.ban-trend a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.trend-btn {
    color: var(--def-col);
    background-color: var(--sec-col);
    border: .125em solid var(--sec-col);
    border-radius: .5em;
    margin: 1em 0;
}

.ban-trend a:last-child {
    margin:auto 0;
    color: var(--sec-col);
}

.btn-arr-dwn {
    height: 1.3em;
    margin-left: 1em;
    background-color: var(--main-col);
    padding: .2em .4em;
    border-radius: .5em;
}

.btn-arr-dwn:hover {
    opacity: .7;
    transition: opacity .2s;
}

/*--------------------------------------------------------------------*/
/*-----SECTION MAIN POST----*/
/*--------------------------------------------------------------------*/

/*---------------UPVOTE SECTION-----------------*/

.post-upvt {
    grid-row: 1/3;
    border-radius: .5em 0 0 .5em;
}

/*---------------CHANNEL SECTION-----------------*/

.box-chanl {
    border-top-right-radius: .5em;
}

/*------------------COMMENT BOX---------------------*/

.comt-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    border-radius: 0 0 .5em .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.comt-box ul {
    display:flex;
    margin: .5em 0;
}

.comt-box ul a {
    margin-right: .8em;
    font-size: 1em;
    color: var(--sml-col);
}

.comt-box img {
    height: 1.2em;
    margin-right: .5em;
    vertical-align: middle;
}

.comt-box ul a:hover {
    opacity: .7;
    transition: opacity .2s;
}

.comt-box a, btn-post {
    font-size: .9em;
    margin: .4em 1em .4em 0;
    padding: .2em .5em;
}

/*------FOLLOW BUTTON------*/

.comt-box a:last-of-type {
    margin-bottom: 1;
    padding-bottom: 1em;
}

.btn-post {
    padding: .125em;
    border-radius: .5em;
    margin: .2em;
}

