/*-----FONTS----*/

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/*----ROOTS----*/

:root {
    --main-col: #FEC61B;
    --sec-col: #8800FF;
    --def-col: #fff;
    --btn-hov: #e5ad01;
}

/*-----REUSE ITEM----*/

.row {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 2.5em 0;
}

body {
    background-color: antiquewhite;
}

/*-----HEADINGS-----*/

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #d30000;
    text-transform: uppercase;
    word-spacing: .125em;
    letter-spacing: .01em
}

h3 {

    font-size: .8em;
    margin: .3em 0;
}

/*-----BUTTONS-----*/

.block-search {
    margin-right: 2em;
    display: flex;
}

.bar-search {
    border: .125em solid var(--main-col);
    border-right: none;
    padding: .125em 0 .125em .5em;
    border-radius: 12.5em 0  0 12.5em;
}

.searchTerm:focus{
  color: #00B4CC;
}

.btn-search {
    width: 1.8em;
    height: 1.8em;
    background-color: transparent;
    border: .125em solid var(--main-col);
    border-radius: 0 12.5em 12.5em 0;
    font-size: 1em;
    padding-bottom: .5em;
    background: var(--main-col);
    cursor: pointer;
}

.btn {
    text-decoration: none;
    border: .125em solid var(--main-col);
    border-radius: 12.5em;
    padding: .125em 1em;
    color: var(--def-col);
    text-transform: uppercase;
}

.btn-log {
    margin-right: .75em;
    color: var(--main-col);
}

.btn-log:hover {
    background-color: var(--btn-hov);
    border-color: var(--btn-hov);
    color: var(--sec-col);
    transition: background-color .2s, color .2s;
}

.btn-sign {
    background-color: var(--main-col);
    color: var(--sec-col);
}

.btn-sign:hover {
    background-color: var(--btn-hov);
    border-color: var(--btn-hov);
    transition: background-color .2s, color .2s;
}


/*--------------------------------------------------------------------*/
/*-----HEADER----*/
/*--------------------------------------------------------------------*/

header {
    background-image: url(img/background-main.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

.main-banner-top {
    display: flex;
    justify-content: space-between;
}

.main-banner-top ul {
    display: flex;
    margin-right: .1250em;
}

.main-logo {
    height: 2.5em;
    margin-top: .5em;
}

.btn-arr-solid {
    height: 30px;
    margin-left: 1em;
    vertical-align: middle;
}



/*-----LOWER BANNER------*/

.nav-low {
    background-color: var(--sec-col);
    border-radius: .5em;
}

.nav-low ul {
    display: flex;
    padding: 1em 12em 1em 12em;
    margin-top: 4em;
    justify-content: space-around;
}

.nav-low ul li a {
    text-decoration: none;
    color: var(--def-col);
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: .2em;
    border-bottom: .1em solid transparent;
}

.nav-low ul li a:hover {
    color: var(--main-col);
    border-bottom: .1em solid var(--main-col);
    transition: border-bottom .2s, color .2s;
}

/*--------------------------------------------------------------------*/
/*-----SECTION----*/
/*--------------------------------------------------------------------*/

.ban-trend {
    display: flex;
    justify-content: space-between;
}

.trend-btn {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--def-col);
    background-color: var(--sec-col);
    border: .125em solid var(--sec-col);
    border-radius: .5em;
    padding: .125em 1em 1em 1em;
}

.ban-trend ul {
    display: flex;
}

.ban-trend ul a {
    text-decoration: none;
    font-weight: bold;
}

.btn-post {
    background-color: var(--main-col);
    padding: .3em .5em;
    border-radius: .5em;
}


.btn-arr-dwn {
    height: 1.3em;
    margin: 0 2em 0 .5em;
    background-color: var(--main-col);
    padding: .2em .4em;
    border-radius: .5em
}

.push-add {
    height: 1em;
    margin-right: .3em;
    vertical-align:middle;
    padding-bottom: .1em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION MAIN POST----*/
/*--------------------------------------------------------------------*/

/*------FIRST POST-----*/


.post-subred-quote {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 40px 70px auto 40px;
}

/*---------------------------------------*/

.post-upvt {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: .5em;
    background-color: var(--def-col);
    border-radius: .5em 0 0 .5em;
}

.post-upvt img {
    height: 1.5em;
}

/*---------------------------------------*/

.box-chanl {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--def-col);
    padding: .125em .5em
}

.box-chanl a:first-child {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.box-chanl ul {
    display: flex;
    margin: 0;
}

.box-chanl a:last-child {
    text-decoration: none;
    font-weight: bold;
    font-size: .7em;
}

span {
    font-size: .9em;
    font-weight: bold;
    color:#555;
    margin-left: .6em;
}

/*---------------------------------------*/

.cont-box {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: palevioletred;
    padding: 0 .5em 0 .5em;
}

/*---------------------------------------*/

.comt-box {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color:forestgreen
}

.comt-box ul {
        margin: .3em
}

/*---------------------------------------*/

.btm-post {
    display: flex;
}

.btm-post li:last-child {
    display: flex;
    justify-content: space-between
}

.btm-post img {
    height: 1em;
}

.btm-post a {
    text-decoration: none;
}

