/*----ROOTS----*/

:root {
    --main-col: #FAB201;
    --sec-col: #403254;
    --def-col: #fff;
    --btn-hov: #e5ad01;
    --sml-col: #555;
    --top-brd-col: #c1c0c0;
    --shd-col: #acacac;
    --pd-sz: .125em;
    --upt-col: #b41313;
    --head-chl: #636ef2;
}

/*-----REUSE ITEM----*/

.row {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: rgba(206, 206, 206, 0.27);
}

.box {
    margin: .5em 0 1.5em 0;
}

.sub-box {
    margin: 0;
}

/*-----HEADINGS-----*/

h2 {
    color: var(--def-col);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    background-image: url(img/community-background.jpg);
    height: 13vh;
    background-position: center;
    background-size: cover;
    padding: 1.8em;
    margin-top: .4em;
    border-radius: .5em .5em 0 0;
}

h3 {
    font-size: .8em;
    margin: .3em 0;
}

h4 {
    display: inline;
    font-size: .7em
}

h5 {
    font-size: 1.2em
}

h6 {
    margin: 1em 1em;
    color: var(--shd-col);
}

/*-----------SOLID BIG BUTTONS----------*/

.btn-bod {
    text-decoration: none;
}

.btn-bod {
    display: block;
    background-color: var(--main-col);
    border: .125em solid var(--main-col);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: .25em;
    border-radius: .5em;
    color: var(--sec-col);
    width: 9em;
    letter-spacing: .06em;
}

.btn-bod:hover {
    opacity: .7;
    transition: opacity .2s;
}

.ld-btn {
    margin: 2em auto;
    box-shadow: .125em .125em .313em var(--shd-col);
}

.view-btn {
    margin: 1em auto;
}


/*--------------------------------------------------------------------*/
/*-----HEADER----*/
/*--------------------------------------------------------------------*/

.main-banner-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-col);
}

.main-banner-top ul {
    display: flex;
    margin-right: .125em;
}

.main-logo {
    height: 2.5em;
    margin-top: .5em;
}

.ban-box {
    background-color: var(--sec-col);
}

/*------SEARCH BAR------*/

.block-search {
    display: flex;
    margin-right: 2em;
}

.bar-search {
    border: .08em solid var(--main-col);
    border-right: none;
    padding: .1em 0 .1em .8em;
    border-radius: 10em 0  0 10em;
}

.btn-search {
    width: 1.8em;
    height: 1.8em;
    border: .08em solid var(--main-col);
    border-radius: 0 10em 10em 0;
    font-size: 1em;
    padding-bottom: .3em;
    background: var(--main-col);
    cursor: pointer;
}

/*----------------------------------------*/
/*-----BUTTONS-----*/
/*----------------------------------------*/

.btn {
    border: .1em solid var(--main-col);
    border-radius: 10em;
    text-decoration: none;
    padding: .2em 1.1em;
    text-transform: uppercase;
}


.btn:hover {
    background-color: var(--btn-hov);
    border-color: var(--btn-hov);
    transition: background-color .2s, color .2s;
}

.btn-log {
    margin-right: .8em;
    color: var(--main-col);
    background-color: var(--def-col);
}

.btn-log:hover {
    color: var(--sec-col);
    transition: background-color .2s, color .2s;
}

.btn-sign {
    background-color: var(--main-col);
    color: var(--def-col);
}

.btn-sign:hover {
    color: var(--sec-col);
    transition: background-color .2s, color .2s;
}

.btn-arr-solid {
    height: 30px;
    margin: 0 1em;
    vertical-align: middle;
}

/*--------------------------------------------------------------------*/
/*-----FOOTER----*/
/*--------------------------------------------------------------------*/

footer {
    background-color: #4b4b4b;
    padding: 2%;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
}


footer a  {
    text-decoration: none;
    color: #bebebe;
    margin-left: 2em;
}

footer a:hover {
    color: var(--def-col);
    transition: color .2s;
}

.fut-box nav ul:first-child li:first-child a:first-child {
   margin-left: 0;
}

footer p {
    color: #bebebe;
    display: block;
    text-align: center;
    margin-top: 2em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION MAIN POST----*/
/*--------------------------------------------------------------------*/

.main-grid-container {
    display: grid;
    grid-template-columns: 40em 21em;
    grid-template-rows: 60em auto;
}


.main-grid-container a {
    text-decoration: none;
}

/*------FIRST POST-----*/


.post-subred-1 {
    display: grid;
    grid-template-columns: 3.125em auto;
    grid-template-rows: 2em 3.5em auto 2.5em;
}

.post-subred-1:last-child:last-child {
    margin-bottom: 3em;
}


/*---------------UPVOTE SECTION-----------------*/

.post-upvt {
    grid-column: 1/2;
    grid-row: 1/5;
    padding: .5em;
    background-color: var(--def-col);
}

.post-subred-1:first-of-type .post-upvt {
    grid-row: 1/3;
    border-radius: .5em 0 0 .5em;

}

.post-upvt img {
    height: 1.5em;
}

/*---------------CHANNEL SECTION-----------------*/

.box-chanl {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    padding: var(--pd-sz) .5em;
}

.post-subred-1:first-of-type .box-chanl {
    border-top-right-radius: .5em;
}

.box-chanl a:first-child {
    font-weight: bold;
    font-size: .9em;
    color: var(--head-chl);
}

.box-chanl a:first-child:hover {
    color: var(--main-col);
    transition: color .2s;
}

.box-chanl a:last-child {
    display: flex;
    padding: var(--pd-sz);
    color: var(--sec-col);
    font-weight: bold;
    font-size: .7em;
}

.box-chanl a:last-child:hover {
    color: var(--upt-col);
    transition: color .2s;
}

.past-time {
    font-size: .9em;
    font-weight: bold;
    color: var(--sml-col);
    margin-left: .6em;
    padding: var(--pd-sz);
}

.past-time:hover {
    color: var(--upt-col);
    transition: color .2s;
}

/*---------------CONTENT BOX------------------------*/

.cont-box {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: var(--def-col);
    padding: 0 .5em;
    border: .01em solid transparent;
}

.cont-box a {
    color: var(--sml-col);
}

.cont-box:hover {
    border: .01em solid var(--main-col);
    transition: border .2s;
}

.cont-box p {
    margin: 0;
}



/*-----------------COMMENT BOX----------------------*/

.comt-box {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: transparent;
    border-top: .03em solid var(--top-brd-col);
}

/*-----------------USER COMMENT BOX----------------------*/

.user-comt-box {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    border: .03em solid var(--top-brd-col);
}

.user-comt-box ul {
    display:flex;
    margin: .5em 0;
}

.user-comt-box ul a {
    margin-right: .8em;
    font-size: 1em;
    color: var(--sml-col);
}

.user-comt-box a img {
    height: 1.2em;
    margin-right: .5em;
    vertical-align: middle;
}

.user-comt-box ul a:hover {
    opacity: .7;
    transition: opacity .2s;
}

.user-comt-box a {
    font-size: .9em;
    margin: .4em 1em .4em 0;
    padding: .2em .5em;
}



/*------ENTER SUBREDDIT------*/

.bar-post {
    border: .08em solid var(--main-col);
    border-right: none;
    padding: .7em;
    border-bottom-left-radius: .5em;
    width: 27.5em;
}

.comt-box .block-search {
    margin-right: 0;
}

.btn-sub {
    width: 7em;
    border: .08em solid var(--main-col);
    border-bottom-right-radius: .5em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--def-col);
    background: var(--main-col);
    cursor: pointer;
}

.btn-sub:hover {
    opacity: .7;
    transition: opacity .2s;
}

.push-add {
    height: 1.2em;
    margin-right: .3em;
    vertical-align:middle;
    padding-bottom: .1em;
}


/*--------------------------------------------------------------------*/
/*-----CONTAINER GRID----*/
/*--------------------------------------------------------------------*/

.section-main-post {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 1em;
}

.section-main-comm {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 1em;
}

/*--------------------------------------------------------------------*/
/*-----SECTION COMMUNITY----*/
/*--------------------------------------------------------------------*/

.pop-comm {
    background-color: var(--def-col);
    padding-bottom: .1em;
    border-radius: .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.pop-comm img {
    height: 1.9em;
}


.pop-comm ul li {
    display: flex;
    justify-content:flex-start;
    padding: 0 2em;
    border-bottom: .03em solid var(--shd-col);
}


.pop-comm ul li a {
    margin-left: 3em;
    color: var(--sml-col);
    padding: .8em 0;
}

.pop-comm ul li a:hover {
    color: var(--main-col);
    transition: color .2s;
}

.pop-comm ul li a img {
    margin-right: 1em;
}

/*---------------SECTION COMMUNITY---------------*/

.adv-box {
    background-color: var(--def-col);
    border-radius: .5em;
    box-shadow: 0 .313em .313em var(--shd-col);
}

.adv-box img {
    padding: 0 .5em .5em .5em;

}
