

/*-----REUSE ITEM----*/

.sub-box {
    margin: 0;
}


/*--------------------------------------------------------------------*/
/*-----HEADER----*/
/*--------------------------------------------------------------------*/

header {
    background-color: var(--sec-col);
}




/*--------------------------------------------------------------------*/
/*-----SECTION MAIN POST----*/
/*--------------------------------------------------------------------*/





/*------FIRST POST-----*/


.post-subred-1:last-child:last-child {
    margin-bottom: 3em;
}


/*---------------UPVOTE SECTION-----------------*/

.post-upvt {
    grid-row: 1/5;
}

.post-subred-1:first-of-type .post-upvt {
    grid-row: 1/3;
    border-radius: .5em 0 0 .5em;

}

/*---------------CHANNEL SECTION-----------------*/

.post-subred-1:first-of-type .box-chanl {
    border-top-right-radius: .5em;
}



/*-----------------COMMENT BOX----------------------*/

.comt-box {

    background-color: transparent;

}

/*-----------------USER COMMENT BOX----------------------*/

.user-comt-box {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    background-color: var(--def-col);
    border: .03em solid var(--top-brd-col);
}

.user-comt-box ul {
    display:flex;
    margin: .5em 0;
}

.user-comt-box ul a {
    margin-right: .8em;
    font-size: 1em;
    color: var(--sml-col);
}

.user-comt-box a img {
    height: 1.2em;
    margin-right: .5em;
    vertical-align: middle;
}

.user-comt-box ul a:hover {
    opacity: .7;
    transition: opacity .2s;
}

.user-comt-box a {
    font-size: .9em;
    margin: .4em 1em .4em 0;
    padding: .2em .5em;
}



/*------ENTER SUBREDDIT------*/

.bar-post {
    border-bottom-left-radius: .5em;
    width: 27.5em;
}

.comt-box .block-search {
    margin-right: 0;
}

.btn-sub {
    width: 7em;
    border-bottom-right-radius: .5em;
}










